.calendarWidget {
  background-color: var(--surface);
  color: var(--text);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 350px;
}

.calendar h4 {
  margin-top: 1rem;
  font-size: 1rem;
}
